.reviews-testslider{
    padding: 20px 10px;
    position: relative;
    width: 100%;
}
.carousel-cell {
    opacity: 0.2;
    padding: 10px;
    width: 40%;
    margin-right: 10px;
    background: #8C8;
    border-radius: 5px;
    @include phones{
        width: 100%;
    }
}
.carousel-cell.is-selected {
        opacity: 1;
    }
