.main__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5% 10% 0;
  }
  .logo{
      font-size: 36px;
      font-weight: 800;
  }
  .main__menu{
      margin: 0 40px;
      width: 100%;
  }
  .menu__items{
    display: flex;
    justify-content: space-between;
  }
  .socials{
    display: flex;
  }
  .socials__item{
    margin-left: 40px;
}
  .socials__icon{
    height: 20px;
    width: 20px;
  }