.main{
  background-color: gray;
  height: 100vh;
  min-width: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main__buttons{
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: flex-start;  
}
.hero-info{
  display: flex;
  justify-content: center;
  align-items: flex-start;  
}
.hero-info__username{
  font-size: 72px;
  font-weight: 800;
}
