.paralax{
    background-image: url("./../images/content/main-bg.png");
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -100;
    width: 100%;
    height: 100%;
}