.reviews{
    background-color: greenyellow;
}
.reviews__title{
    padding-top: 10%;
    display: flex;
}

.reviews__name{
    font-size: 36px;
    font-weight: bold;
}
.reviews__nav{
    display: flex;
    margin-left: 50px;
}
.reviews__navigation{
    text-align: center;
    margin-left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: cadetblue;
}