.send-btn{
    text-align: center;
    width: 360px;
    height: 80px;
    cursor: pointer;
    border: none;
    color: $subtext;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s;
    background: linear-gradient(120deg, #de7904,#ffbe54, #de7904);
    background-size: 200%;
    outline: none;
    &:hover{
    background-position:right;
    color: $text;
    }
    @include phones{
      width: 90%;
    }
  }