.skills{
    background-color: hotpink;
}
.skills__title{
    margin: auto;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    width: 50%;
}
.skills__title-text{
    font-size: 30px;
    font-weight: bold;
}
.skills__title-subtext{
    font-size: 16px;
    margin-top: 5%;
}