.welcome-section {
  position: relative;


  @include tablets {
    background-image: url('./../images/content/fix-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}