include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        //+image('content/user.jpg', 'user-pic')
        //+icon('link', 'link-class')
        //.icon-bg

        .paralax
        section.main
          .container
            header.main__header
              .main__logo
                .logo ЧА
              .main__menu
                - var menu = ["Главная","Обо мне","Навыки","Работы","Отзывы","Связаться"];
                nav.menu
                  ul.menu__items
                    each item in menu
                      li.menu__item
                        a.menu__link #{item}
              .main__links
                - var icons =["insta","vk","github"];
                ul.socials
                  each item in icons
                    li.socials__item
                      a.socials__link
                        +icon(item, "socials__icon")


          .main__content
            .hero-info
              .hero-info__desc
                h2.hero__subtext Личный сайт
                h2.hero__subtext веб разработчика
              .hero-info__username
                h1.hero__name Чепков
                h1.hero__name Артем

          .hero__downbutton
            .scroll-down
              a(href="").scroll-down__btn Скролл
              
        section.about
          .container
            .about__container
              .about__left
                .user
                  .user__avatar
                    .avatar
                      +image('content/user.jpg', 'user-pic', "user__avatar-img")
                  .user__text
                    -
                      var rows = [
                        ["Проживаю","Дубна"],
                        ["Возраст","26 лет"],
                        ["Родился","12 апреля 1993"]
                      ];
                    table.user__data
                      table.user__data-table
                        each row in rows
                          tr.user__data-row
                            each cell in row
                              td #{cell}

              .about__right
                .about__welcome-text Привет, меня зовут
                .about__username Чепков Артем
                .about__desc Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные пректы.
                .about__ps Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нем свой контент. А пока посмотрите, как тут все классно и красиво! 

        .middle-section
          section.values
            .container.values__container
              .values__wrapper
                .values__title
                  .values__title-container
                    .values__title-text Чем я могу быть полезен вам
                    .values__content
                      p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
                .values__widget
                  #skills-component
          //section.works
            .container.works__container
              .section-title.works__section-title Мои работы
              .works__content
                #slider-component

        section.works
          .container
            .works__title Мои Работы
            .works__content
              .slider
                .slider__display
                  img.slider__display-pic
                  .slider__display-thumbs
                    ul.slider-thumbs
                      li.slider-thumbs__item
                        a.slider-thumbs__link
                          img.slider-thumbs__pic
                      li.slider-thumbs__item
                        a.slider-thumbs__link
                          img.slider-thumbs__pic
                      li.slider-thumbs__item.active
                        a.slider-thumbs__link
                          img.slider-thumbs__pic
                  .slider__buttons
                    a.diraction-btn.direction-btn--next >
                    a.diraction-btn.direction-btn--prev <

                .slider__info
                  .slider__tags
                    ul.tags
                      li.tags__item Html
                      li.tags__item Css
                      li.tags__item JavaScript
                  .slider__info-text
                    h3.slider__info-title Какой-то сайт
                    .slider__info-desc Описание какого-то сайта
                  .slider__info-btns
                    a.iconend-link Посмотреть сайт

        .callback__container
          section.reviews
            .container
              .reviews__title
                .reviews__name Что обо мне говорят
                .reviews__nav
                  .reviews__navigation.reviews__nav-prev <
                  .reviews__navigation.reviews__nav-next >

              .reviews__content
                ul.reviews__list
                  li.reviews__item.review
                    .review__text Что-то похвальное от первого автора
                    .review__author.author
                      .author__avatar
                        .avatar-rev
                          +image('content/user.jpg', 'user-pic', "user__avatar-img")
                      .author__info
                        .author__name Автор 1
                        .author__work Должность 1
                  li.reviews__item.review
                    .review__text Что-то похвальное от второго автора
                    .review__author.author
                      .author__avatar
                        .avatar-rev
                          +image('content/user.jpg', 'user-pic', "user__avatar-img")
                      .author__info
                        .author__name Автор 2
                        .author__work Должность 2 

          section.callback
            .container
              form.send-form
                h1.form__title Связаться со мной
                .form__row
                  .form__block
                    input.form__input(type='text')
                    span(data-placeholder='Введите Ваше имя')
                    span.form__icon.user-icon
                  .form__block
                    input.form__input(type='email')
                    span(data-placeholder='Введите Ваш e-mail')
                    span.form__icon.email-icon

                .form__row
                  .form__block.textarea
                    textarea.form__input
                    span(data-placeholder='Сообщение к письму')
                    span.form__icon.message-icon
                .form__row
                  input.send-btn(type='submit',value='Отправить')

        footer
          .container.footer__container
            .footer__year &copy; 2020
            .footer__author
              .footer__author-name 
                h1.name Чепков
                h1.name Артем
              .footer__author-desc
                h2.author-desc Личный сайт
                h2.author-desc веб разработчика
            .footer__bar
              .footer__menu
                .main__menu
                  - var menu = ["Главная","Обо мне","Навыки","Работы","Отзывы","Связаться"];
                  nav.menu
                    ul.menu__items
                      each item in menu
                        li.menu__item
                          a.menu__link #{item}
              .footer__info
                .footer__social
                  .footer__social-text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool
                  .main__links
                    - var icons =["insta","vk","github"];
                    ul.socials
                      each item in icons
                        li.socials__item
                          a.social__link
                            +icon(item, "socials__icon")
                .footer__que
                  .que Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                  .que-author Martin Golding

    include ./templates/entry.pug